<div *ngIf="estudante" class="student-details">
  
    <div id="studentName"><h2>{{estudante.name | uppercase}}</h2></div>
    <div><span>id: </span>{{estudante.id}}</div>
    <div class="details">
      <label for="estudante-name">Nome: </label>
      <input id="estudante-name" [(ngModel)]="estudante.name" placeholder="name"><br>
      <label for="estudante-idade">Idade: </label>
      <input id="estudante-idade" [(ngModel)]="estudante.idade" placeholder="Idade"><br>
      <label for="estudante-cpf">CPF: </label>
      <input id="estudante-cpf" [(ngModel)]="estudante.CPF" placeholder="CPF"><br>
      <label for="estudante-telefone">Telefone: </label>
      <input id="estudante-telefone" [(ngModel)]="estudante.telefone" placeholder="Telefone"><br>
    </div>
  </div>